In [2]:
import yorkpy
import yorkpy.analytics as yka
import pandas as pd
import numpy as np
import os

In [3]:
os.getcwd()

'C:\\Users\\sachi\\Desktop\\YorkPy'

In [4]:
os.chdir('CSV_Dtsets/IPL/IPLT20-Matches')

In [5]:
os.listdir()[-1]

'Sunrisers Hyderabad-Royal Challengers Bangalore-2019-03-31.csv'

In [6]:
srhrcb= pd.read_csv('Sunrisers Hyderabad-Royal Challengers Bangalore-2019-03-31.csv')
srhrcb.head()

,delivery,batsman,bowler,extras_dict,non_striker,runs_dict,wicket_dict,wides,noballs,legbyes,...,resultHow,resultTeam,non_boundary,ManOfMatch,overs,team1,team2,tossWinner,tossDecision,venue
0,0.1,JM Bairstow,MM Ali,0,DA Warner,"{'extras': 0, 'total': 0, 'batsman': 0}",0,0.0,0.0,0.0,...,0,0,0,JM Bairstow,20,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,"Rajiv Gandhi International Stadium, Uppal"
1,0.2,JM Bairstow,MM Ali,0,DA Warner,"{'extras': 0, 'total': 4, 'batsman': 4}",0,0.0,0.0,0.0,...,0,0,0,JM Bairstow,20,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,"Rajiv Gandhi International Stadium, Uppal"
2,0.3,JM Bairstow,MM Ali,0,DA Warner,"{'extras': 0, 'total': 1, 'batsman': 1}",0,0.0,0.0,0.0,...,0,0,0,JM Bairstow,20,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,"Rajiv Gandhi International Stadium, Uppal"
3,0.4,DA Warner,MM Ali,0,JM Bairstow,"{'extras': 0, 'total': 4, 'batsman': 4}",0,0.0,0.0,0.0,...,0,0,0,JM Bairstow,20,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,"Rajiv Gandhi International Stadium, Uppal"
4,0.5,DA Warner,MM Ali,0,JM Bairstow,"{'extras': 0, 'total': 1, 'batsman': 1}",0,0.0,0.0,0.0,...,0,0,0,JM Bairstow,20,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,"Rajiv Gandhi International Stadium, Uppal"

In [23]:
match= srhrcb
theTeam= srhrcb.team1
opposition= srhrcb.team2

In [7]:
yka.getRunsConceded(srhrcb)

bowler
B Kumar            25
C de Grandhomme    16
MM Ali             29
Mohammad Nabi      11
Mohammed Siraj     38
P Ray Barman       56
Rashid Khan        25
S Kaul             16
Sandeep Sharma     19
UT Yadav           47
V Shankar          13
YS Chahal          44
Name: runs, dtype: int32

In [8]:
np.sum(yka.getRunsConceded(srhrcb))

339

In [9]:
yka.getOvers(srhrcb)

                 overs
bowler
B Kumar              3
C de Grandhomme      1
MM Ali               3
Mohammad Nabi        4
Mohammed Siraj       4
P Ray Barman         4
Rashid Khan          4
S Kaul               3
Sandeep Sharma       3
UT Yadav             4
V Shankar            2
YS Chahal            4

In [10]:
yka.getMaidens(srhrcb)

C:\Users\sachi\anaconda3\lib\site-packages\yorkpy\analytics.py:573: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['over']=df1.delivery.astype(int)
C:\Users\sachi\anaconda3\lib\site-packages\yorkpy\analytics.py:576: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['runsConceded']=df1['runs'] + df1['wides'] + df1['noballs']

                 maiden
bowler
B Kumar             0.0
C de Grandhomme     0.0
MM Ali              0.0
Mohammad Nabi       0.0
Mohammed Siraj      0.0
P Ray Barman        0.0
Rashid Khan         0.0
S Kaul              0.0
Sandeep Sharma      0.0
UT Yadav            0.0
V Shankar           0.0
YS Chahal           0.0

In [11]:
yka.getWickets(srhrcb)

                player_out
bowler
Mohammad Nabi            4
Mohammed Siraj           1
Rashid Khan              1
Sandeep Sharma           4
V Shankar                1
YS Chahal                1

In [13]:
yka.teamBowlingScorecardMatch(srhrcb, srhrcb.team1)

C:\Users\sachi\anaconda3\lib\site-packages\yorkpy\analytics.py:573: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['over']=df1.delivery.astype(int)
C:\Users\sachi\anaconda3\lib\site-packages\yorkpy\analytics.py:576: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['runsConceded']=df1['runs'] + df1['wides'] + df1['noballs']

            bowler  overs  runs  maidens  wicket   econrate
0  C de Grandhomme      1    16        0       0  16.000000
1           MM Ali      3    29        0       0   9.666667
2   Mohammed Siraj      4    38        0       1   9.500000
3     P Ray Barman      4    56        0       0  14.000000
4         UT Yadav      4    47        0       0  11.750000
5        YS Chahal      4    44        0       1  11.000000

In [16]:
yka.teamBowlingScorecardMatch(srhrcb, srhrcb.team2)

           bowler  overs  runs  maidens  wicket  econrate
0         B Kumar      3    25        0       0  8.333333
1   Mohammad Nabi      4    11        0       4  2.750000
2     Rashid Khan      4    25        0       1  6.250000
3          S Kaul      3    16        0       0  5.333333
4  Sandeep Sharma      3    19        0       4  6.333333
5       V Shankar      2    13        0       1  6.500000

In [38]:
 yka.teamBowlingWicketMatch(match,theTeam,opposition, plot=False)

           bowler   player_out  kind
0  Mohammed Siraj    V Shankar     1
1       YS Chahal  JM Bairstow     1

In [40]:
 yka.teamBowlingWicketKindMatch(match,theTeam,opposition, plot=False)

           bowler     kind  player_out
0  Mohammed Siraj  run out           1
1       YS Chahal   caught           1

In [41]:
 yka.teamBowlingWicketMatch(match,opposition, theTeam, plot=False)

           bowler       player_out  kind
0   Mohammad Nabi   AB de Villiers     1
1   Mohammad Nabi         PA Patel     1
2   Mohammad Nabi           S Dube     1
3   Mohammad Nabi       SO Hetmyer     1
4     Rashid Khan         UT Yadav     1
5  Sandeep Sharma           MM Ali     1
6  Sandeep Sharma     P Ray Barman     1
7  Sandeep Sharma          V Kohli     1
8  Sandeep Sharma        YS Chahal     1
9       V Shankar  C de Grandhomme     1

In [42]:
 yka.teamBowlingWicketKindMatch(match,opposition, theTeam, plot=False)

           bowler     kind  player_out
0   Mohammad Nabi   bowled           1
1   Mohammad Nabi   caught           2
2   Mohammad Nabi  stumped           1
3     Rashid Khan  run out           1
4  Sandeep Sharma   caught           3
5  Sandeep Sharma  run out           1
6       V Shankar  run out           1

In [29]:
yka.matchWormChart(match, theTeam, opposition, plot=True, savePic=False)

C:\Users\sachi\anaconda3\lib\site-packages\yorkpy\analytics.py:1200: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['cumsum']=df3.total.cumsum()
C:\Users\sachi\anaconda3\lib\site-packages\yorkpy\analytics.py:1202: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['cumsum'] = df4.total.cumsum()

ValueError: Length mismatch: Expected axis has 2 elements, new values have 244 elements